.header-aligns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px 0 10px;
  }
  .style-of-text-area{
    border: 1px solid #7f7e7e;
    border-radius: 15px;
    margin-top: 30px;
    // margin: 10px 10px 9px 10px !important;
  }
  .card-title{
    font-size: 19px;
    padding: 10px;
  }

  .set-paddings{
    padding: 10px;
  }