.redBlock {
  background-color: #630207;
  height: 300px;
  position: relative;
  .otpScreen {
    width: 90%;
    height: 25.5rem;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px !important;
    z-index: 2;

    // background-color: red;
  }
  // .ion-text-center {
  //   border: 1px solid #7f7e7e;
  //   min-width: 8%;
  //   height: 35px;
  //   margin: 2px !important;
  //   display: block !important;
  //   margin: 0 auto !important;
  //   padding: 0px !important;
  //   border-radius: 15px;
  // }

  .ion-text-center1 {
    border: 1px solid #7f7e7e;
    min-width: 8%;
    height: 35px;
    margin: 2px !important;
    display: block !important;
    margin: 0 auto !important;
    padding: 0px !important;
    border-radius: 15px;
    margin: 3px !important;
  }
  // ion-input {
  //     padding: 0px !important;
  //     position: relative;
  //     top: -3px;
  //     padding-left: 5px !important;
  //     font-size: 14px;
  //     text-align: start;
  //     font-weight: 600;
  //     border: 1px solid #ddd;
  //     border-radius: 5px;
  // }
  ion-label {
    font-family: inherit;
    font-size: 13px;
  }
  .labelName {
    font-size: 14px;
    margin: 10px 0px;
    color: #141414;
  }
  .welcomeBlock {
    h6 {
      font-size: 16px !important;
      color: #141414;
      font-weight: 600;
      margin-bottom: 0px !important;
    }
    p {
      margin-top: 0px !important;
      font-size: 14px !important;
    }
  }
  ion-button.button.button-solid.ion-activatable.ion-focusable.hydrated {
    width: 150px;
    height: 30px;
    margin-top: 25px !important;
    margin-bottom: 18px !important;
    margin: 0 auto;
    --background: #630207 !important;
    display: block;
    text-transform: inherit;
  }
  ion-input.referalInput.sc-ion-input-md-h.sc-ion-input-md-s.hydrated {
    left: 0px;
    text-align: start !important;
    border: 1px solid #141414;
    height: 40px;
    border-radius: 5px;
  }
  p {
    margin-top: 0px !important;
    font-size: 14px !important;
  }
}
