<ion-content>
  <div class="redBlock">
    <div class="otpScreen">
      <form>
        <div class="welcomeBlock">
          <h6>Change Password</h6>

        </div>
        <form>

          <ion-item class="padding-left-2px" counter="true">
            <ion-input type="password" placeholder="Old Password" name="old_pwd" [(ngModel)]="old_pwd">
            </ion-input>
          </ion-item>
          <ion-item class="padding-left-2px" counter="true">
            <ion-input type="password" placeholder="New Password" name="new_pwd" [(ngModel)]="new_pwd">
            </ion-input>
          </ion-item>

          <ion-row>
            <ion-col size="3">
              <ion-item>
                <!-- <ion-label position="floating">Country Code</ion-label> -->
                <ion-input type="tel" value="+91" readonly> </ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="9">
              <ion-item class="padding-left-2px" counter="true">
                <!-- <ion-label position="floating">Enter Phone Number</ion-label> -->
                <ion-input maxlength="10" placeholder="Mobile Number" name="mobile_number" [(ngModel)]="mobile_number">
                </ion-input>
                <ion-note slot="helper">Enter Your 10 Digit mobile number</ion-note>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-button type="submit" (click)="changePwd()"> Change Password </ion-button>
        </form>
      </form>
    </div>
  </div>
</ion-content>