.logoImages {
  width: 40px;
  height: 40px;
  object-fit: contain;
  border-radius: 50%;
}
.mainLogoImages {
  //   width: 100px;
  height: 60px;
  object-fit: contain;
  margin: 0 auto;
  display: block;
}
.carImages {
  width: 60px;
  height: 60px;
  object-fit: fill;
  border-radius: 50%;
  padding: 5px;
  border: 1px solid #ddd;
}
.ion-text-center {
  text-align: center !important;
  background: #f2f2f2;
  border-radius: 5px;
  line-height: 40px;
  margin: 5px;
}
ion-col {
  border-bottom: 1px solid #eceeef;
}
.red {
  color: black;
  font-size: 19px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.yellow {
  color: black;
  font-size: 14px;
}
.blue {
  color: black;
  font-size: 14px;
}
.ion-text-center {
  font-size: 12px !important;
  .header-row {
    .headingName {
      font-size: 16px;
      font-weight: bold;
      color: #141414;
    }
  }
.containBlock{
  margin: 0px 10px 0px 10px;
    background-color: white;
  /* border: 23px; */
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}
.carImageBlock {
  display: flex !important;
  justify-content: space-between !important;
  /* margin: 7px 35px !important; */
  align-items: center;
  margin: 10px;
  height: 84px;

  
}
.spin{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
ion-spinner {
  width: 28px;
  height: 28px;
  stroke: #444;
  fill: #222;
}
#insurance:hover{
  box-shadow: inset 0px 0px 0px 1px azure;
}
#Emission:hover{
  box-shadow: inset 0px 0px 0px 1px azure;
}
#Fitness:hover{
  box-shadow: inset 0px 0px 0px 1px azure;
}
.contentBlock{
  // margin: 7px 35px !important;
  margin: 7px !important;
  border: 0.5px solid grey;
  border-radius: 1.4px;
}
}
.dueDaystxt{
  display: flex; 
  align-items: center;
}
.duedayscount{
  display: flex; 
  align-items: center;
}
.detals-block{
  background-color: #f2f2f2;
}
.header-row{
  background-color: #f3f3;
}
.headings{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 16px;
  font-weight: bold;
  color: #141414;
  background-color: #f2f2;
}
.main-block{
  display: flex;
  flex-direction: row;
  /* margin: 0px 10px 0px 10px; */
  // padding-left: 19px;
  border: 2px solid #f2f2
}
.col-adjusment{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
