<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab3"></ion-back-button>
    </ion-buttons>
    <div class="header-aligns">
      <ion-title>View Documents</ion-title>
      <span><a style="color: white;
        font-weight: 600;
        text-decoration: none;" routerLink="/home">Continue</a></span>
    </div>
   

  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="spin" *ngIf="spinner" style="  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);">
    <ion-spinner name="bubbles" style="  width: 28px;
    height: 28px;
    stroke: #444;
    fill: #222;"></ion-spinner>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div id="vehicleDocuments" *ngIf="rescame">
          <!-- <h5 class="card-title">Vehicle Documents</h5> -->
          <div class="card" *ngFor="let vehicles of fulldata;let i=index">
            <img
            [src]="vehicles.image_path"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">{{vehicles.doc_name}}</h5>
              <p class="card-text">{{vehicles.valid_upto}}</p>
              <!-- <a class="btn btn-primary">Preview</a> -->
            </div>
          </div>
        
          <!-- <ion-button
            expand="block"
            (click)="slideToViewDocs()"
            style="margin-top: 30px; padding: 0px 10px 0 10px"
            *ngIf="rescame"
          >
            Next
          </ion-button> -->
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>