<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
     
      <ion-content>
        <div class="panel">

          <!-- <img src="../../src/assets/images/sidemenu.jpg" -->
        </div>


        <ion-list id="inbox-list">
          <!-- <ion-list-header>Hello! John</ion-list-header>
          <ion-note>johndoe@gmail.com</ion-note> -->
          <ion-menu-toggle auto-hide="false">
            <!-- <ion-item routerDirection="root" lines="none" detail="false">
              <ion-avatar>

                <img src="../assets/images/odo1.png" alt="image">
              </ion-avatar>
              <ion-label style="margin-left: 10px;"> ODO </ion-label>
            </ion-item> -->
            <ion-header>
              <ion-toolbar>
                <div class="toolbar-brand">
                  <img src="../assets/images/odo1.png" alt="image" style="height: 43%;
                  width: 18%;
                  margin: 8px 0px 6px 6px;
              ">
                  <!-- <ion-title style="    font-size: 46px;
                  color: black;
                  font-family: system-ui;">ODO</ion-title> -->
                </div>

              </ion-toolbar>
            </ion-header>
            <ion-item  routerDirection="root" lines="none" detail="false">
              <ion-icon name="call" style="color: #630207;font-size: 21px;"></ion-icon>
              <ion-label style="margin-left: 10px;
              font-size: 14px;
              font-family: system-ui;
              font-weight: 600;">Request Call Back </ion-label>
            </ion-item>
            <ion-item routerLink="/tabs/tab1" routerDirection="root" lines="none" detail="false">
              <!-- <ion-avatar>

                <img src="../assets/images/blakcar.jpg" alt="image" style="font-size: 21px;">
              </ion-avatar> -->
              <ion-icon name="car-sport-outline" style="color:#630207;font-size: 21px;"></ion-icon>
              <ion-label style="margin-left: 10px;
              font-size: 14px;
              font-family: system-ui;
              font-weight: 600;">Add </ion-label>
            </ion-item>
            <!-- <ion-item (click)="activeIndex1()" routerDirection="root" lines="none" detail="false"> -->
              <!-- <ion-avatar>

                <img src="../assets/images/blakcar.jpg" alt="image" style="font-size: 21px;">
              </ion-avatar> -->
              <!-- <ion-icon name="car-sport-outline" style="color:#630207;font-size: 21px;"></ion-icon>
              <ion-label style="margin-left: 10px;
              font-size: 14px;
              font-family: system-ui;
              font-weight: 600;">Docment repository </ion-label>
            </ion-item> -->
            <!-- <ion-item (click)="addDocuments()" routerDirection="root" lines="none" detail="false">
              <ion-icon name="document-text-outline" style="color: #e69935;font-size: 40px;"></ion-icon>
              <ion-label style="margin-left: 10px;">Add a Other Document </ion-label>
            </ion-item> -->

            <!-- <ion-item (click)="logout()" routerDirection="root" lines="none" detail="false">
              <ion-icon name="log-in-outline" style="color: #000;"></ion-icon>
              <ion-label style="margin-left: 10px;">Logout </ion-label>
            </ion-item> -->
            <ion-item  routerDirection="root" lines="none" detail="false">
              <!-- <ion-icon name="call" style="color: #e69935;"></ion-icon> -->
              <ion-icon name="person-circle-outline" style="color:#630207;font-size: 21px;"></ion-icon>
              <ion-label style="margin-left: 10px;
              font-size: 14px;
              font-family: system-ui;
              font-weight: 600;">Profile </ion-label>
            </ion-item>
            
            <!-- <ion-item  routerDirection="root" lines="none" detail="false"> -->
              <!-- <ion-icon name="call" style="color: #e69935;"></ion-icon> -->
              <!-- <ion-icon name="share-social-outline" style="color:#630207;font-size: 21px;"></ion-icon>
              <ion-label style="margin-left: 10px;
              font-size: 14px;
              font-family: system-ui;
              font-weight: 600;">Share with Watsup </ion-label>
            </ion-item> -->
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>


  </ion-split-pane>
</ion-app>
