
ion-button.button.button-solid.ion-activatable.ion-focusable.hydrated {
    // width: 150px;
    height: 40px;
    /* margin-top: 6px !important; */
    margin-bottom: 25px !important;
    margin: 0 auto;
    --background: #630207 !important;
    display: block;
    text-transform: inherit;
    margin: 10px 20px 0px 20px;
  }
  .nxt-btn{
    font-size: 23px;
    text-transform: capitalize;
    font-weight: 500;
    color: white;
  }
  .tab-bar-styles{
    background-color: #630207;
  }
//   .tab-bar-styles:hover{
//     background-color: grey;
//   }